body {
    font-family: monospace;
}
    
.calc-wrapper {
    background: lightgray;
    border: 1px solid black;
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 255, .2);
    padding: 10px;
    margin: 20px auto;
    width: 30%;
    height: 400px;
}
.display {
    background: white;
    border: 2px solid black;
    height: 30%;
    text-align: right;
}
.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 20px;
}
button {
    font-family: monospace;
    margin: 2px;
    border: 1px solid black;
    height: 50px;
    box-shadow: 2px 2px 3px 1px grey;
}

button:hover {
    box-shadow: none;
}